*,
::before,
::after{
    padding: 0;
    margin: 0;box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
    height: 50px;
}

::-webkit-scrollbar-track {
    background: #2e2e2e; 
    border-radius: 10px;
    margin: -4px 0; 
}


::-webkit-scrollbar-thumb {
    background: #202020; 
    border-radius: 10px;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.wrapper-acceuil{
    width: 100%;
}

.section-acceuil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0,1) 85%),
        url('img/bg-section-acceuil.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;  
    animation: bg-zoomOut 1s  ease-out forwards;
}

/* header-acceuil*/

.header-acceuil{
    background: transparent;
    color: #fff;
    height: 85px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    top: 0;
    position: absolute;
}

.topbar-wrapper-acceuil{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.items-link{
    display: flex;

}

.item-link{
    margin: 0 10px;
    padding: 7px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: #ffffff77;
    text-decoration: none;
    transition: ease-in-out .3s;
}

.item-link:hover{
    color: #fff;
    background: #8C5990;
    border-radius: 999rem;
}

.items-contact{
    display: flex;
    position: absolute;
    right: 40px;
}

.item-contact i{
    margin: 0 10px;
    color: #403B58;
    transition: ease-in-out .3s;
    position: relative; 
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.contact1{
    animation: slide-down-item 2s  ease-out forwards;
}
.contact2{
    animation: slide-down-item 2.1s ease-out forwards;
}
.contact3{
    animation: slide-down-item 2.3s ease-out forwards;
}

.item-contact i:hover{
    color: #fff;
}

/*main-acceuil*/
.main-acceuil{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-acceuil h2{
    font-size: 4.5rem;
    color: #fff;
    font-weight: 600;
    font-family: "Zen Dots", sans-serif;
    text-align: center;
    text-shadow: #0000007e 0 0 10px;
    animation: slide-down 2s ease-in-out;
}

.main-status{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5rem;
    font-family: "Share Tech Mono", sans-serif;
    text-align: center;
    animation: opacity ease-in-out 2.2s;
}

.status{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 500;
    font-family: "Zen Dots", sans-serif;
    font-size: .9rem;
    
}

.status p{
    margin: 10px;
    padding: 12px 12px;
    margin-top: 10px;
    background: #af29d8;
    border-radius: 999rem;
    width: 180px;
    text-align: center;
    box-shadow: #000000a9 0 0 25px;
    
}

.status-gauche{
    animation: slide-diagonale-gauche ease-out 2s;
}

.status-droite{
    animation: slide-diagonale-droite ease-out 2s;
}

.icone-down i{
    margin-top: 150px;
    color: #d144db;
    font-size: 40px;
}

/* PRESENTATION */

.section-presentation{
    background: #000;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-presentation{
    margin-bottom: 15%;
}

.title-competences i,
.title-parcours i,
.icone-presentation{
    font-size: 40px;  /* Taille de l'icône */
    background: linear-gradient(#7c00c4, #fa67ff 100%);/* Dégradé */
    -webkit-background-clip: text;  /* Appliquer le dégradé au texte */
    color: transparent;
}

.presentation{
    color: #fff;
    width: 60vw;
}

.presentation h3{
    font-weight: 500;
    font-family: "Zen Dots", sans-serif;
    font-size: 3rem;
}

.presentation p{
    margin-left: 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: #ffffffc5;
}

.important{
    color: #7414ac;
}

/* PARCOURS */

.section-parcours{
    background: #000;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container-competences,
.container-parcours{
    margin-bottom: 15%;
    width: 55%;
}

.title-langue,
.title-competences,
.title-parcours{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: "Zen Dots", sans-serif;
    font-size: 3rem;
    margin-bottom: 15%;
}

.title-langue i,
.title-competences i,
.title-parcours i{
    margin-right: 10px;
}

.title-langue i{
    font-size: 60px;
    background: linear-gradient(#7c00c4, #fa67ff 100%);/* Dégradé */
    -webkit-background-clip: text;  /* Appliquer le dégradé au texte */
    color: transparent;
}

.formation{
    margin-bottom: 50px;
}

.formation i{
    margin-bottom: 5px;
    font-size: 35px;  /* Taille de l'icône */
    background: linear-gradient(#7c00c4, #ffaf47 100%);/* Dégradé */
    -webkit-background-clip: text;  /* Appliquer le dégradé au texte */
    color: transparent;
}

.etablissement{
    font-size: 2rem;
}

.parcours h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.parcours p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #ffffffc5;
    margin-left: 3rem;
}

/* COMPETENCES */
.section-competences{
    background: #000;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.competences{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.langue{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffffc5;
}

/* FOOTER */
.footer{
    background: #d144db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;  
}

.footer h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
}


@keyframes slide-down {
    0% {
      transform: translateY(-50vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-diagonale-gauche {
    0% {
      transform: translateY(-50vh) translateX(-50vw);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }

@keyframes slide-diagonale-droite {
    0% {
      transform: translateY(-50vh) translateX(50vw);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }

@keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
      }
    100% {
      opacity: 100%;
    }
  }

  @keyframes slide-down-item {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes bg-zoomOut {
    0% {
      transform: scale(3); /* Taille initiale */
    }
    100% {
      transform: scale(1); /* Dezoom à 50% */
    }
  }